<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Custom Login Page</title>
</head>
<body>
<h3>My Custom login page</h3>

<form action="#" th:action="@{/authenticateTheUser}" method="POST">
    <div th:if="${param.error}">
        <i style="color: red; font-weight: bold">Sorry! You have entered wrong credential</i>
    </div>
<p>
     <label for="username">User Name:
</label>
    <input id="username" type="text" name = "username">

</p>
<p>
    <label for="password">Password:</label>  <input id="password" type="password" name = "password">
</p>
<input type="submit" value="Login">
</form>
</body>
</html>