<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Systems Home page</title>
</head>
<body>

<h1>Systems Home page</h1>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Culpa ex illo inventore minus provident quidem, quos repudiandae sit tempore vel?
    </p><br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias consectetur delectus et harum inventore ipsa
    iure neque odit porro qui, quia quidem repellat rerum, tempore veniam voluptas? Et, odio. Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Aliquam aperiam dolorum eius explicabo fuga, fugit in incidunt ipsam iste iusto magni
    molestiae, odio, odit quae quos reprehenderit saepe vel velit.</p>

<hr>
<a th:href="@{/}">Back to Home Page</a>

</body>
</html>